<%- include('partials/header') %>
    <div class="box">
        <h1>XML Read</h1>

        <div class="item">
            <form>
                <button class="btn btn-primary btn-lg" formaction="/" formmethod="POST" type="submit">Number of the products</button>
                <button class="btn btn-light btn-lg" formaction="/names" formmethod="POST" type="submit">List of the names</button>
                <button class="btn btn-dark btn-lg" formaction="/parts" formmethod="POST" type="submit">List of the parts</button>
            </form>
        </div>
        <% if(Items !== null){ %>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% Items.forEach(function(item) { %>
                                <tr>
                                    <td>
                                        <%= item.$.name %>
                                    </td>
                                    <td>
                                        <% if (item.descriptions != null && item.descriptions != undefined) { %>
                                            <% if (Array.isArray(item.descriptions.description)) { %>
                                                <% item.descriptions.description.forEach(function(desc) { %>
                                                    <%= desc._ %><br>
                                                        <% }) %>
                                                            <% } %>
                                                                <% if (!Array.isArray(item.descriptions.description)) { %>
                                                                    <%= item.descriptions.description._ %>
                                                                        <% } %>
                                                                            <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } %>
            </div>
    </div>
    <%- include('partials/footer') %>